@mixin quiz-finished-dialog-panel(){
    .panel-class .mat-dialog-container {
        background-color: #dbe0eb;
        color: hsl(252, 4%, 23%);
    }

    .panel-class-dark  .mat-dialog-container {
        background-color: #2b303b;
        color: hsl(240, 2%, 78%);
    }
}