$quiz-padding: 1%;

$quiz-bar-size: 5rem;

$quiz-list-margin-v: 1%;
$quiz-list-margin-h: 2.5%;
$quiz-item-size: 20rem;

$quiz-background-color: hsl(221, 30%, 89%);

$quiz-bar-color1: #1554b4;
$quiz-bar-color2: #42a5f5;

$quiz-list-background-color: hsl(198, 15%, 74%);
$quiz-list-item-background-color: hsl(221, 25%, 87%);
$quiz-answer-color: hsl(130, 100%, 19%);
$quiz-incorrect-color: rgb(179, 27, 27);
$quiz-globe-button-color: hsl(224, 68%, 52%);

$quiz-background-color-dark: hsl(221, 16%, 20%);

$quiz-bar-color1-dark: hsl(216, 79%, 19%);
$quiz-bar-color2-dark: hsl(207, 90%, 31%);

$quiz-list-background-color-dark: hsl(195, 15%, 20%);
$quiz-list-item-background-color-dark: hsl(221, 17%, 45%);
$quiz-answer-color-dark: hsl(130, 85%, 37%);
$quiz-globe-button-color-dark: hsl(229, 70%, 27%);

@media only screen and (max-width: 1000px){
    $quiz-bar-size: 3rem;
    
}

:host {
    display: block;
    height: 100%;
    width: 100%;
}

.quiz-holder {
    width: 100%;
    height: 100%;
    padding: $quiz-padding;
    display: block;
    align-content: center;
    background-color: $quiz-background-color;
}

.quiz-holder.dark-mode {
    background-color: $quiz-background-color-dark;
}

.bar-holder {
    display: block;
    height: $quiz-bar-size;
    width: 100%;
}

.list-holder {
    display: block;
    min-height: calc(#{$quiz-item-size} + 3%);
    max-height: calc(100% - #{$quiz-bar-size} - 3*#{$quiz-list-margin-v} - 2*#{$quiz-padding});
    width: calc(100% - 2*#{$quiz-list-margin-h});
    margin: #{$quiz-list-margin-v} 2.5%;
    background-color: $quiz-list-background-color;
    border-radius: 40px;
    padding: 1rem;
}

.list-holder.dark-mode {
    background-color: $quiz-list-background-color-dark;
}