#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    height: 305px;
    width: 430px;
    align-items: center;
}

.settings-row {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 4rem;
    width: 100%;
    align-items: left;
    margin-bottom: 2rem;
}

.input-holder {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span {
    font-size: 0.8rem;
}
span.description {
    font-size: 1rem;
    font-weight: 600;
}

.btn {
    margin: 0 0.5rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: hsl(211, 100%, 25%);
    border-color: hsl(211, 100%, 25%);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: hsl(211, 100%, 15%);
    border-color: hsl(211, 100%, 18%);
}
